@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Patrick+Hand&family=Rubik+Mono+One&display=swap');
:root {
  --main-color: #707070;
  --main-font: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1084px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.sosmedia a img {
  height: 30px;
  width: 30px;
}

.sosmedia li {
  display: inline-block;
}

.bg-light {
  background-color: transparent !important;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.navbar-light .navbar-toggler-icon {
  color: #213270b3;
}
.navbar-collapse {
  text-align: center;
}

.navbar-nav .nav-link {
  padding-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #213270b3;
  font-size: 200;
  font-family: (var(--main-font));
  font-weight: bold;
}

.header-logo {
  display: block;
  max-width: 100%;
  width: 221px;
  height: 60px;
  position: relative;
  padding: 10px 25px;
  z-index: 3;
}

header .banner {
  background: url(../img/woman-grey.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 992px) {
  .banner {
    padding-bottom: 190px;
  }
}

.block-start {
  padding: 70px 0 0 35px;
}

.block-name {
  color: #ffe2de;
  font-family: 'Patrick Hand', undefined;
  font-size: 30px;
  font-weight: bold;
}

.slogan {
  color: white;
  font-family: 'Rubik', sans-serif;
  flex-wrap: wrap;
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 78px;
  font-weight: 800;
  padding-top: 20px;
}

.healthy-color {
  color: #ffe2de;
  word-wrap: break-word;
}

@media (max-width: 992px) {
  h1 {
    font-size: inherit;
  }
}

.total-text {
  color: white;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: var(--main-font);
  font-weight: bold;
}

.gradient-button {
  text-decoration: none;
  color: white;
  height: 55px;
  width: 220px;
  border-radius: 27px;
  border-width: 0;
  font-family: var(--main-font);
  text-transform: uppercase;
  transition: 0.6s;
  background-image: linear-gradient(
    to right,
    #82d2eb 0%,
    #5bc9eb 51%,
    #34bfd8 100%
  );
  background-image: transparent;
}

.gradient-button:hover {
  background-image: linear-gradient(
    to left,
    #82d2eb 0%,
    #5bc9eb 51%,
    #34bfd8 100%
  );
}

.date-time {
  font-size: xx-large;
  color: mediumturquoise;
  margin-left: 0;
}

#about-us {
  background-image: url(../img/woman-bottle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us-text {
  padding: 20px 15px 20px 15px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 40%;
  text-align: left;
}

@media (min-width: 1084px) {
  .box {
    max-width: 100%;
  }
}
.block-title {
  font-family: Rubik, sans-serif;
  font-size: 55px;
  font-weight: 760;
  line-height: 0.9;
  color: #213270;
}
.text-italic {
  font-family: var(--main-font);
  color: #213270b3;
  font-style: italic;
  font-size: 19px;
}
#about-us .block-name {
  color: rgb(246, 181, 173);
}
#about-us .total-text {
  font-family: var(--main-font);
  color: var(--main-color);
  padding: 10px 0 10px 0;
  font-weight: 300;
}
.about-us-title {
  font-family: Rubic, sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: rgb(246, 181, 173);
}
.our-classes .block-name {
  text-align: center;
  color: rgb(246, 181, 173);
  margin-top: 30px;
}
.our-classes .block-title {
  text-align: center;
}

/* slider */

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slider {
  position: relative;
  padding: 0 20px;
}
.slider .slick-arrow {
  position: absolute;
  top: 25%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/slider-back-arrow.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/slider-next-arrow.svg) 0 0 / 100% no-repeat;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #82d2eb;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
  background-color: rgb(38, 167, 218);
}
.slider-item {
  margin: 10px;
}
.slider-header {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 760;
  line-height: 0.9;
  padding: 5px;
  color: #213270;
}
.slider-text {
  font-family: var(--main-font);
  color: var(--main-color);
}
.slider-button {
  background-color: transparent;
  text-transform: uppercase;
  color: #213270;
  font-size: small;
  font-weight: 700;
}

.go-online {
  background: url(../img/woman-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.go-online .go-online-text {
  padding: 30px 0 70px;
}
.go-online-text {
  line-height: 1;
  font-family: Rubik, sans-serif;
  font-size: 66px;
  font-weight: 700;
  color: white;
}
.homefit-word {
  text-transform: uppercase;
}
.go-online-item {
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.go-online-item::marker {
  color: #ffe2de;
}
.go-online .gradient-button {
  color: #f6b5ad;
  background-image: linear-gradient(
    to right,
    #ecd8e7 0%,
    #fcfcfc 51%,
    #ebe0e9 100%
  );
  background-image: transparent;
}

.go-online.gradient-button:hover {
  background-image: linear-gradient(
    to left,
    #fcfcfc 0%,
    #ebe0e9 51%,
    #f3cfea 100%
  );
}

.instructors .block-name {
  color: rgb(246, 181, 173);
  text-align: center;
  margin-top: 30px;
}
.instructors .block-title {
  text-align: center;
}
.instructors .text-italic {
  text-align: center;
}
.instructors-photo {
  margin: 10px 5px;
  text-align: center;
}
.intructors-name .name {
  background-color: #62d0df;
  font-family: Rubik, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 800;
}
.name .qualification {
  font-size: 15px;
}

@media (min-width: 790px) {
  .intructors-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1084px) {
  .intructors-name {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* price */

.program-plan-container {
  background-color: rgb(243, 227, 224);
  background-size: cover;
}
.program-plan-container .block-name {
  color: rgb(246, 181, 173);
  text-align: center;
}
.block-title {
  line-height: 1.2;
}
.program-plan-container .block-title {
  text-align: center;
  padding: 20px;
}
.program-plan-container .programs ul {
  display: flex;
}
.program-plan-container .programs .programs-list {
  justify-content: space-around;
  list-style: none;
  font-family: var(--main-font);
  color: #213270;
  font-size: 20px;
  font-weight: 800;
}
.program-plan-container .programs .programs-list li:hover {
  color: #5d71bb;
}
.price-container {
  background-color: white;
  min-height: 380px;
  min-width: 270px;
  margin: 20px 20px 20px 20px;
}
.price-container .block-title {
  font-size: 23px;
}
@media (min-width: 320px) {
  .price-blocks {
    display: grid;
    grid-template-columns: 1fr;
  }
@media (min-width: 590px) {
  .price-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 950px) {
  .price-blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.price-container .total-price {
  background-color: #62d0df;
  font-family: Rubik, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 800;
}
.total-price {
  text-align: center;
}
.price-container .total-text {
  color: var(--main-color);
  text-align: center;
  font-weight: normal;
  padding: 40px 30px 40px 30px;
  margin-bottom: 0;
}
.price-container .gradient-button {
  font-weight: 700;
  justify-content: center;
  -ms-transform: translate(50%, 50%);
  transform: translate(20%, 20%);
  height: 40px;
}

/* Contact form  */

.contact-form {
  background-image: url(../img/girl-carpet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-form .total-text {
  text-align: center;
  color: var(--main-color);
  font-weight: normal;
  padding: 0;
  margin-bottom: 25px;
}
.wrapper {
  position: relative;
}
.form {
  max-width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: white;
  margin-right: 5%;
}
.form .block-name {
  color: rgb(246, 181, 173);
  text-align: center;
  margin: 0;
}
.form .block-title {
  text-align: center;
  font-weight: 800;
}
.input-field {
  margin: 10px 0 10px 10px;
  padding-bottom: 10px;
}
.input-field input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: #213270;
  font-weight: 700;
}
.input-field .error {
  box-shadow: 0 0 15px #f6b5ad;
}
.send-btn {
  padding: 50px 10px 0 10px;
}
.send-btn .gradient-button {
  width: 100%;
}

/* footer */

.footer-info {
  background: #213270;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 180px;
}
.footer-logo {
  display: block;
  max-width: 100%;
  width: 221px;
  height: 60px;
  position: relative;
  z-index: 3;
}
.footer-logo .total-text {
  padding: 20px 0 0 10px;
}
