@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Patrick+Hand&family=Rubik+Mono+One&display=swap');
:root {
  --main-color: #707070;
  --main-font: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1084px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.sosmedia a img {
  height: 30px;
  width: 30px;
}

.sosmedia li {
  display: inline-block;
}

.bg-light {
  background-color: transparent !important;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.navbar-light .navbar-toggler-icon {
  color: #213270b3;
}
.navbar-collapse {
  text-align: center;
}

.navbar-nav .nav-link {
  padding-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #213270b3;
  font-size: 200;
  font-family: (var(--main-font));
  font-weight: bold;
}

.header-logo {
  display: block;
  max-width: 100%;
  width: 221px;
  height: 60px;
  position: relative;
  padding: 10px 25px;
  z-index: 3;
}

header .banner {
  background: url(../img/woman-grey.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 992px) {
  .banner {
    padding-bottom: 190px;
  }
}

.block-start {
  padding: 70px 0 0 35px;
}

.block-name {
  color: #ffe2de;
  font-family: 'Patrick Hand', undefined;
  font-size: 30px;
  font-weight: bold;
}

.slogan {
  color: white;
  font-family: 'Rubik', sans-serif;
  flex-wrap: wrap;
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 78px;
  font-weight: 800;
  padding-top: 20px;
}

.healthy-color {
  color: #ffe2de;
  word-wrap: break-word;
}

@media (max-width: 992px) {
  h1 {
    font-size: inherit;
  }
}

.total-text {
  color: white;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: var(--main-font);
  font-weight: bold;
}

.gradient-button {
  text-decoration: none;
  color: white;
  height: 55px;
  width: 220px;
  border-radius: 27px;
  border-width: 0;
  font-family: var(--main-font);
  text-transform: uppercase;
  transition: 0.6s;
  background-image: linear-gradient(
    to right,
    #82d2eb 0%,
    #5bc9eb 51%,
    #34bfd8 100%
  );
  background-image: transparent;
}

.gradient-button:hover {
  background-image: linear-gradient(
    to left,
    #82d2eb 0%,
    #5bc9eb 51%,
    #34bfd8 100%
  );
}

/* servises */
/* 
main .services {
  background-image: url(../img/strength-training.png),
    url(../img/weight-loss-program.png), url(../img/instructors.png);
  background-repeat: repeat-y, repeat-y, repeat-y;
  background-position: left, center, right;
  background-size: 34%;
  height: 500px;
  justify-content: center;
}

main .name-services {
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

.date-time {
  font-size: xx-large;
  color: mediumturquoise;
  margin-left: 0;
}

#about-us {
  background-image: url(../img/woman-bottle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us-text {
  padding: 20px 15px 20px 15px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 40%;
  text-align: left;
}

@media (min-width: 1084px) {
  .box {
    max-width: 100%;
  }
}
.block-title {
  font-family: Rubik, sans-serif;
  font-size: 55px;
  font-weight: 760;
  line-height: 0.9;
  color: #213270;
}
.text-italic {
  font-family: var(--main-font);
  color: #213270b3;
  font-style: italic;
  font-size: 19px;
}
#about-us .block-name {
  color: rgb(246, 181, 173);
}
#about-us .total-text {
  font-family: var(--main-font);
  color: var(--main-color);
  padding: 10px 0 10px 0;
  font-weight: 300;
}
.about-us-title {
  font-family: Rubic, sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: rgb(246, 181, 173);
}
.our-classes .block-name {
  color: rgb(246, 181, 173);
}

/* carousel */

#carousel .classes-image {
  display: block;
}
